
@{
    ViewData["Title"] = "CheckLiterate";
}

@* <h1>CheckLiterate</h1>
 *@
 <div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <a asp-controller="Home" asp-action="SymptomsPictures"><img src="~/images/literate/iliterate.JPG" style="width:100%;" /></a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <a asp-controller="Home" asp-action="TODO_Iliterate"><img src="~/images/literate/literate.JPG" style="width:100%;" /></a>
        </div>
    </div>
</div>
