@{
    ViewData["Title"] = "Home Page";
}

    <div class="container-fluid">
        <div class="card" >
            <div class="card-header text-center">
                <p>Deutsch</p>
            </div>
            <div class="card-body">
            <img src="images/flag-german.png" style="width:100%;" />
            </div>
        </div>
        <div class="card">
            <div class="card-header text-center">
            <p>Francaise</p>
            </div>
            <div class="card-body">
                <img src="images/flag-english.png" style="width:100%;"/>
                
            </div>
        </div>
    </div>
