@model Anamnesis

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <input type="checkbox" id="1" />
            <label for="1">
                <img src="~/images/symptoms/Fever.JPG" style="width: 100%;" />
            </label>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <input type="checkbox" id="2" />
            <label for="2">
                <img src="~/images/symptoms/Headache.JPG" style="width: 100%;" />
            </label>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <input type="checkbox" id="5" />
            <label for="5">
                <img src="~/images/symptoms/stomach.JPG" style="width: 100%;" />
            </label>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <input type="checkbox" id="6" />
            <label for="1">
                <img src="~/images/symptoms/Throat.JPG" style="width: 100%;" />
            </label>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <input type="checkbox" id="7" />
            <label for="2">
                <img src="~/images/symptoms/Knee.JPG" style="width: 100%;" />
            </label>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <input type="checkbox" id="8" />
            <label for="5">
                <img src="~/images/symptoms/Elbow.JPG" style="width: 100%;" />
            </label>
        </div>
    </div>
</div>

<div style="margin-top:12px">
    <a href="#" onclick="history.back()"><img SRC="~/images/LeftArrow.jpg" style="width:64px; height:auto" /></a>
    <a asp-controller="SubmitSymptoms"><img SRC="~/images/RightArrow.jpg" style="width:64px; height:auto" /></a>
</div>
