@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* <form method="post" action="/Tests/Post/">
    <fieldset>
        <input type="checkbox" name="favorite_pet" value="1">

        <input type="checkbox" name="favorite_pet" value="2">

        <input type="checkbox" name="favorite_pet" value="3">

        <input type="submit" value="Submit now" />
    </fieldset>
</form> *@
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <input type="checkbox" id="1" />
            <label for="1">
                <img src="~/images/symptoms/Fever.JPG" style="width: 100%;" />
            </label>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <input type="checkbox" id="2" />
            <label for="2">
                <img src="~/images/symptoms/Headache.JPG" style="width: 100%;" />
            </label>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <input type="checkbox" id="5" />
            <label for="5">
                <img src="~/images/symptoms/stomach.JPG" style="width: 100%;" />
            </label>
        </div>
    </div>
</div>